body
{
    background-color: #2F3344;
    margin-top: 136px;
    color: white;
}

.navbar
{
    background-color: #993333;
}

.jf_title
{
    background-color: #2F3344;
}

.jf_title h1
{
    margin-bottom: 0;
}

.jf_menus
{
    width: 100%;
}

/* .btn-primary
{
    background-color: #993333;
    border-color: #7e2e2e;
}

.btn-primary:hover
{
    background-color: #612121;
    border-color: #581d1d;
} */

.post_container
{
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
    border-color: rgb(71, 72, 75) !important;
}

.tox-tinymce
{
    border-radius: 0.25rem !important;
}

.comments_container
{
    margin-top: 50px;
}

.title_jf
{
    color: white !important;
    text-decoration: none !important;
}

.fa-exclamation-triangle
{
    cursor: pointer;
}
footer
{
    height: 60px;
    background-color: rgb(29, 28, 28);
}

footer > .row
{
    width: 100%;
}

.fa-exclamation-triangle
{
    cursor: pointer;
}

@media (max-width: 768px) {
    body
    {
        margin-top: 88px;
    }
    .container.page_container
    {
        max-width: none;
    }
}

